:root {
  --body-font:'Sen',sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Sen',sans-serif;
  }
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
.header {
    padding: 20px;
    background-color: #364e68;
  }
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.toggle {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgb(13 110 253 / 0%);
    cursor: pointer;
    /* flex-direction: column;
    justify-content: space-around;
    padding: 8px; */
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-radius: 17px;
    position: sticky;
    top: 1px;
}
.toggle span {
    width: 100%;
    background-color: #212529;
    height: 4px;
    transition: 0.5s;
  }
.toggle:hover span {
    background-color: #3333338a;
  }
.create {
    position: relative;
    left: 37%;
    cursor: pointer;
}
.create:hover {
  color: #212529;
  font-weight: bolder;
}
.disabled{
  pointer-events: none;
}
 /* swiper */
.slide img{
  
  top:0px
}


.swiper .swiper-slide {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slid1 {
  background-image: url(../img/stock.jpg);
  background-size: cover;

}
.form-search {
  position: relative;
  top: 50%;
  background: #364e68;
  position: relative;
  z-index: 1;
  padding: 3rem 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 0px 30px 0px rbga(0, 0, 0, 1);
  box-shadow: 0 0px 30px 0px rbga(0, 0, 0, 1); 
}
.form-search label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, 0.3);
   }
.form-search .form-control {
    border: none; 
  }
.form-search .btn[type="submit"] {
    height: 40px;
    width: 239px;
    margin-left: 10px;
    margin-top: 5px;
  }
.list-types, .offer-types, .select-city {
    font-family: var(--body-font);
    font-size: large ;
  }
.filter-down a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.filter-down a:hover {
  color: #364e68 ;
}
#sort {
  font-weight: bold;
}
/* --------------------------------------------------------- */
.property-entry {
  -webkit-box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
  background: #fff; 
}
  .property-entry .property-body {
    position: relative;
  }
  .property-entry .property-favorite {
    position: absolute;
    border-radius: 50%;
    top: -60px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center; 
  }
  
    .property-entry .property-favorite span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .property-entry .property-favorite:hover, .property-entry .property-favorite.active {
      background: #f23a2e;
      color: #fff;
     }
  .property-entry .offer-type-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 8; 
  }
  .property-entry .property-thumbnail {
    overflow: hidden;
    position: relative;
    display: block; 
  }
    .property-entry .property-thumbnail .offer-type {
    display: block;
    margin-bottom: 5px;
    padding: 1px 7px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 9px;
    border-radius: 4px; 
  }
 .property-entry .property-thumbnail img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
  }
  .property-entry .property-title {
    font-size: 1.2rem; 
  }
    .property-entry .property-title a {
      color: #000;
     }
  .property-entry .property-location {
    font-size: .9rem; 
  }
    .property-entry .property-location .property-icon {
      color: rgba(0, 0, 0, 0.3); 
    }
  .property-entry .property-specs-number {
    font-size: 1.2rem;
    color: #000;
   }
  .property-entry .property-specs-wrap {
    list-style: none;
    padding: 0;
    margin: 0; 
  }
    .property-entry .property-specs-wrap li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px; 
    }
  .property-entry .property-specs {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .1em; 
  }
  .property-entry .property-price {
    font-size: 1.3rem;
   }
  .property-entry.horizontal .property-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; 
  }
  .property-entry.horizontal .property-favorite {
    top: auto !important;
    right: auto !important;
    left: -70px !important;
   }
    @media (max-width: 991.98px) {
      .property-entry.horizontal .property-favorite {
        left: auto !important;
        top: -60px !important;
        right: 10px !important; }
       }
  .property-entry:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }

.property-specs-wrap {
  list-style: none;
  padding: 0;
  margin: 0; 
}
  .property-specs-wrap li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; 
  }

.property-specs {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em; 
}

.property-price {
  font-size: 1.3rem; 
}
.address {
  text-decoration: none;
}
.gallery {
  margin-top: 10px;
}
/* premium */
.premium {
  background-color: #19283f;
}
.premium h1 {
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -4px;
  margin: 0px;
  font-family: sen;
  color: #eee;
}
.premium .property-body {
  background-color: #ffdf00;
  ;
  border-radius: 4px;
}
.premium .property-entry {
  border-radius: 7px;
}
.premium .property-entry img {
  border-radius: 4px;
}
.ad {
  position: sticky;
  top: 0px;
  background-color: #f23b2e;
}
.activate{
  background-color: #f23b2e;
  color: #FFF;
  transition: 0.01;
}
.unactivate{
  background-color: transparent;
  color: #d4ca68;
  transition: 0.01;
}